.splitScreen {
    width: 50vw;
    height: 100vh;
}

.clDiv {
    margin-left: 50vw;
}

/* Timline Side */
.timeline {
    background-color: grey;
    text-align: center;
    position: fixed;
   
}

/* Chat Side */
.chatPanelL {
    width: 6%;
    background-color: rgba(202, 202, 202, .5);
    position: fixed;
    padding-top: 1%;
    height: 100vh;
}

.buttons {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    margin: 7px auto;
    text-align: center;
}

.task1 {
    border: 5px solid pink ;
}

.current {
    background-color: rgba(44, 56, 138);
    color: white;
}

.ChatBox {
    margin-left: 12%;
    margin-right: 2%
}

.otherMessage {
    margin-right: 55%;
}

.Message {
    margin-left: 55%;
}

.indivMessage {
    margin-top: 15px;
    position: relative;
}

/* Chat Bubble */
.chatBubble {
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
}

.timeDelivered {
    color: gray;
    font-size: 10px;
    padding-top: 10px;
}

.messageSubject {
    font-weight: 600;
}

/* User Details */

.userRole {
    color: gray;
}
/* Message Details */
.messageDetails {
    position: absolute;
    font-size: 10px;
    padding: 5px;
}

.otherDetails {
    left: 100%;
}

.youDetails {
    right: 100%;
}

.timeDetails {
    margin: 5px 0px;
}